In [1]:
#Here add a description

In [2]:
'''
Importing all the needed librairies
'''
#Data Structure, scientific computing and technical computing.
import numpy as np
import pandas as pd
import pandas_datareader.data as web # pip install pandas_datareader
#Dataframe
import pandas_datareader as pdr

#Scipy: scientific computing
import scipy
from scipy.spatial.distance import pdist, squareform
from scipy.spatial import distance_matrix
from scipy import stats


#Visualization
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import seaborn as sns

# machine learning library for the Python programming language. 
from sklearn.neighbors import KernelDensity

#Dataset
import yfinance as yf #pip install yfinance

#Date formatting
#Today's date
from datetime import date, timedelta
from dateutil.relativedelta import relativedelta


#Statistics
import scipy



#Past six month function
def past_six_month_date():
    #librairies
    from datetime import date, timedelta
    from dateutil.relativedelta import relativedelta
    #emptylist
    mylist = []
    #Processing six months back
    sixp = date.today() - relativedelta(months=+6)
    mylist.append(sixp)
    return f"{mylist[0]:%Y-%m-%d}"


six_months_ago = past_six_month_date()
today = date.today()

#For printing results
#print("Today's date:", today)
#print("Exactly 6 months date:", six_months_ago)

Today's date: 2021-10-31
Exactly 6 months date: 2021-04-30

### Imlepenting tiingo.com:
A financial research platform dedicated to creating innovative financial tools for all, while adopting the motto, **"Actively Do Good"**.

In [3]:
Login = 'bunster'
pw = 'M@$t0ur1'
start = six_months_ago
end = today
TICKERS = [ 'AAPL','MSFT', 'Goog', 'AMZN', 'TSLA']
apiURL= 'https://api.tiingo.com/documentation/end-of-day'
token = '2d10bb042e786244063efc000e6dc15e79b07274'

In [4]:
def get_adjusted_close(ticker, start, end, token):
    import pandas_datareader as pdr
    df = pdr.get_data_tiingo(ticker, start, end, api_key=token)
    return df

In [5]:
for ticker in TICKERS:
    #Dynamically create Data frames
    vars()[ticker] = pdr.get_data_tiingo(ticker, start, end, api_key=token)

C:\Users\rmastour\Anaconda3\lib\site-packages\pandas_datareader\tiingo.py:234: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  return pd.concat(dfs, self._concat_axis)

In [6]:
TICKERS_Frames = [ AAPL, MSFT, Goog, AMZN, TSLA]
def returned_dataFrame(list_of_frame):
    df = pd.concat(list_of_frame)
    return df

In [8]:
df = returned_dataFrame(TICKERS_Frames)
df.head()

                                   close      high      low    open  \
symbol date
AAPL   2021-04-30 00:00:00+00:00  131.46  133.5600  131.065  131.78
       2021-05-03 00:00:00+00:00  132.54  134.0700  131.830  132.04
       2021-05-04 00:00:00+00:00  127.85  131.4899  126.700  131.19
       2021-05-05 00:00:00+00:00  128.10  130.4500  127.970  129.20
       2021-05-06 00:00:00+00:00  129.74  129.7500  127.130  127.89

                                     volume    adjClose     adjHigh  \
symbol date
AAPL   2021-04-30 00:00:00+00:00  109839466  131.040993  133.134299
       2021-05-03 00:00:00+00:00   75135100  132.117550  133.642674
       2021-05-04 00:00:00+00:00  137564718  127.442499  131.070798
       2021-05-05 00:00:00+00:00   84000900  127.691702  130.034212
       2021-05-06 00:00:00+00:00   78128334  129.326475  129.336443

                                      adjLow     adjOpen  adjVolume  divCash  \
symbol date
AAPL   2021-04-30 00:00:00+00:00  130.647252  131.359973  109839466      0.0
       2021-05-03 00:00:00+00:00  131.409813  131.619144   75135100      0.0
       2021-05-04 00:00:00+00:00  126.296165  130.771853  137564718      0.0
       2021-05-05 00:00:00+00:00  127.562117  128.788196   84000900      0.0
       2021-05-06 00:00:00+00:00  126.724794  127.482372   78128334      0.0

                                  splitFactor
symbol date
AAPL   2021-04-30 00:00:00+00:00          1.0
       2021-05-03 00:00:00+00:00          1.0
       2021-05-04 00:00:00+00:00          1.0
       2021-05-05 00:00:00+00:00          1.0
       2021-05-06 00:00:00+00:00          1.0